[submodule "core"]
	path = core
	url = https://github.com/openalea/core.git
[submodule "grapheditor"]
	path = grapheditor
	url = https://github.com/openalea/grapheditor.git
[submodule "vpltk"]
	path = vpltk
	url = https://github.com/openalea/vpltk.git
