Source: openalea
Maintainer: OpenAlea consortium <christophe.pradal@cirad.fr>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3~), python-setuptools, python-dev, debhelper (>= 7), python-openalea.deploy

Package: python-openalea
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}, python-openalea.visualea, python-openalea.misc, python-openalea.stdlib, python-openalea.sconsx, python-openalea.pkgbuilder, python-openalea.numpy, python-openalea.image, python-openalea.pylab, python-openalea.deploygui, python-openalea.scheduler
Provides: ${python:Provides}
Description: OpenAlea packages and all its dependencies.
 OpenAlea meta package containing all its dependencies.
