Source: openalea-grapheditor
Maintainer: Daniel Barbeau <daniel.barbeau@sophia.inria.fr>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), debhelper (>= 7), python-support (>= 0.8.4), python-openalea.deploy
Standards-Version: 3.9.1

Package: python-openalea.grapheditor
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-openalea.deploy, python-qt4
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: GraphEditor package for OpenAlea.
 An attempt at generalising the viewing and interacting of various sorts of graphs.
