Source: openalea-pkgbuilder
Maintainer: Christophe Pradal <christophe.pradal@cirad.fr>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), debhelper (>= 7), python-support (>= 0.8.4), python-openalea.deploy (>= 0.9)
Standards-Version: 3.9.1
XS-Python-Version: current

Package: python-openalea.pkgbuilder
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},  python-openalea.deploy (>= 0.9), python-sphinx
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: Creates a layout for openalea packages .

