Source: openalea-deploy
Maintainer: "Christophe Pradal" <christophe.pradal@cirad.fr>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3~), python-setuptools, debhelper (>= 7)

Package: python-openalea.deploy
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-setuptools, python-soappy
Provides: ${python:Provides}
Description: "Setuptools extension for OpenAlea"

