Source: openalea-misc
Maintainer: OpenAlea consortium, Christophe Pradal, Thomas Cokelaer <christophe.pradal@cirad.fr>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3~), python-setuptools, debhelper (>= 7), python-openalea.deploy

Package: python-openalea.misc
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-openalea.deploy, python-openalea.core, python-sphinx
Provides: ${python:Provides}
Description: Miscellaneous tools for OpenAlea administration.

