@import "default.css";


/* put sphix side bar on the left and fix bug in default.css */
div.documentwrapper {
    float: right;
    width: 80%;

}

div.bodywrapper {
    margin: 0px 0 0 0px;
}


div.sphinxsidebar {
    margin: 0 0 0 0;
/*    padding: 0.5em 15px 15px 0;*/
    width: 18%;
    float: left;
    text-align: left;

}

/* see field names in blue */

div.admonition-todo {
border-top: 2px solid red;
border-bottom: 2px solid red;
border-left: 2px solid red;
border-right: 2px solid red;
background-color: #ff6347
}

p.admonition-title {
    display: offline;
}

/*p.first.admonition-title {
background-color: #aa6347;
width: 100%;
}
*/

p.rubric {
color:blue;
}

/* color and width of the keywords (Parameters, examples, ...)*/
th.field-name {
color:blue;
width:20%;
}

/* surround the classes, functions and exceptions with boxes*/
dl.class, dl.function, dl.exception{
    border-top: 2px solid #888;
    border-bottom: 2px solid #888;
    border-left: 2px solid #888;
    border-right: 2px solid #888;
}


dl.method, dl.attribute {
    border-top: 1px solid #aaa;
}

img.inheritance {
    border: 1px solid blue;
    max-width:90%;
    align:center;
}
*/
div.math img{
/*width:90%*/
text-align:center;
}

/* these div and table fixes are required to have a nice layout of the source code 
 * needs to check that the layout is still corect when crtl+ - or + is used 
 * */
div.highlight-python{
table-layout:auto;
overflow-x:hidden;
width:100%;
border: 2px; /*solid #888;*/
/*background-color: white;*/
}



div.highlight-python pre{
/*background-color: white;*/
/*border: 0px;*/
}

table.highlighttable {
table-layout:auto;
}


/** 
 *  * Styling for footnotes
 *   */

table.footnote td, table.footnote th {
  border: none;
}


table indextable{
    border-collapse: collapse;
    margin: 0 -0.5em 0 -0.5em;
    table-layout:auto;
    width:100%;
    overflow:hidden;
    word-wrap:break-word;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */

 }



/*docutils border and background color act on the table but also the :Parameters: fields in reference guide*/

table.docutils{
width:90%;
/*border:1px solid black;*/
}

table.footnote{
width:90%;
border:0px
}

table.docutils tr{
/*background-color:#FFD;*/
}

th.head{
background-color:#DDCCEE;
}
tr.body{
background-color:#FFD;
}

h1 {
clear:both;
}
h2 {
clear:both;
}
h3 {
clear:both;
}


/*
h2 {
background-color:#FFDEAD;
border:2px solid #FFCC00;
margin-bottom:0;
margin-left:20%;
margin-right:20%;
padding:4px;
text-align:center;
}

h3 {
background-color: #FFDEAD;
border:1px solid black;
margin-right:20%;
padding:2px;
}

h4 {
background-color: #FFDEAD;
margin-right:20%;
padding:2px;
*/

/* to wrap the python code*/


pre{
word-wrap:break-word;
white-space: pre-wrap;       /* css-3 */
white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


div.align-left.figure{
float: left;
width:45%;
border:2px solid #888;
margin-left:2%;
margin-right:2%;
margin-top:2%;
margin-bottom:2%;
padding:2px;
clear:right;
text-align:justify;
}


div.align-center.figure{
float: center;
width:45%;
border:2px solid #888;
padding:2px;
margin-left:30%;
margin-right:2%;
margin-top:2%;
margin-bottom:2%;
clear:right;
text-align: justify;
}

div.align-right.figure{
float: right;
width:45%;
border:2px solid #888;
padding:2px;
margin-left:2%;
margin-right:2%;
margin-top:2%;
margin-bottom:2%;
clear:right;
text-align: justify;
}

div.figure{
/*float:center;
 * table-layout:auto;*/
padding-left:5%;
width:90%;
border:2px solid #888;
padding:2px;
margin-left:1%;
margin-right:1%;
margin-top:1%;
margin-bottom:1%;
clear:both;
/*text-align: justify;*/
padding:2px;
}

