{% extends "!layout.html" %}
{% set openalea = 'http://openalea.gforge.inria.fr/dokuwiki/doku.php?id=openalea' %}

{%- block extrahead %}
{{ super() }}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4372857-3']);
  _gaq.push(['_trackPageview']);
</script>
{% endblock %}

{% block footer %}
{{ super() }}
<div class="footer">This page uses <a href="http://analytics.google.com/">
Google Analytics</a> to collect statistics. You can disable it by blocking
the JavaScript coming from www.google-analytics.com.
<script type="text/javascript">
  (function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ?
              'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
  })();
</script>
</div>
{% endblock %}


{% block rootrellink %}


{# Switch to the main page #}
{%- if project=='openalea' and package=='doc' or 'doc' in package or 'doc' in project -%}
<li><a href="{{ pathto('index') }}"> Main home </a> |&nbsp;</li>
<li><a href="{{ pathto('contents') }}">{{project.split('.')[0]|title}} Documentation </a> &raquo;</li>


{# switch to individual project main page#}
{%- else -%} 
{% set p=project.split('.')[0].lower() %}
{%- if p=='openalea' -%}
<li><a href="{{ pathto("../../../../doc/_build/html/index") }}"> Main home </a>  |&nbsp;</li>
<li><a href="{{ pathto("../../../../doc/_build/html/openalea") }}"> openalea packages </a> |&nbsp;</li>
{%- endif -%}
{%- if p=='vplants' -%}
<li><a href="{{ pathto("../../../../../openalea/doc/_build/html/index") }}"> Main home </a>  |&nbsp;</li>
<li><a href="{{ pathto("../../../../../openalea/doc/_build/html/vplants") }}"> vplants packages </a> |&nbsp;</li>
{%- endif -%}
{%- if p=='alinea' -%}
<li><a href="{{ pathto("../../../../../openalea/doc/_build/html/index") }}"> Main home </a>  |&nbsp;</li>
<li><a href="{{ pathto("../../../../../openalea/doc/_build/html/alinea") }}"> alinea packages </a> |&nbsp;</li>
{%- endif -%}

<li><a href="{{ pathto('contents') }}">{{ project.split('.')[1] }} Documentation </a> &raquo;</li>
{%- endif -%} 

{% endblock %}



{% block relbar1 %}
{#<div style="background-color: white; text-align: left; padding: 10px 10px 15px 15px">
</div>#}
{{ super() }}
{% endblock %}

{# put the sidebar before the body #}
{% block sidebar1 %}{{ sidebar() }}{% endblock %}
{% block sidebar2 %}{% endblock %}
