# Distutils parameters file
# Use this file to specify custom parameters to pass to setup.py script
# Uncomment necessary options

[sdist]
#formats=gztar,zip

#add automatic release number to your egg
[egg_info]
tag_build = .dev
tag_svn_revision = 1

[global]
# verbose=0

[nosetests]
where=test
with_coverage=
cover_package=$PROJECT.$PACKAGE
cover_erase=

[build_sphinx]
source_dir = doc/
build_dir  = doc/_build
all_files  = 1


[upload_sphinx]
package = $PACKAGE
project = $PROJECT


