Source: openalea-scheduler
Maintainer: Jerome Chopard, Christophe Pradal <christophe.pradal@cirad.fr>
Section: python
Priority: optional
Build-Depends: python-all(>= 2.6.6-3~), python-setuptools, debhelper (>= 7), python-openalea.deploy

Package: python-openalea.scheduler
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-openalea.core
Provides: ${python:Provides}
Description: scheduler package for OpenAlea.
 The scheduler package implement the management of tasks. 
 Used for simulation purposes
