include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include README.rst

include LICENSE
include requirements.txt
include dvlpt_requirements.txt

recursive-include test *
recursive-include src/openalea *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include doc *.rst
include doc/conf.py
include doc/Makefile
include doc/make.bat
