Source: openalea-visualea
Maintainer: christophe pradal <christophe.pradal@cirad.fr>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3~), python-setuptools, debhelper (>= 7), python-openalea.deploy

Package: python-openalea.visualea
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-openalea.core, python-openalea.grapheditor, python-qscintilla2
Provides: ${python:Provides}
Description: OpenAlea visual programming environment.

