Source: openalea-visualea
Maintainer: christophe pradal <christophe.pradal@cirad.fr>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), debhelper (>= 7), python-support (>= 0.8.4), python-openalea.deploy
Standards-Version: 3.8.4
XS-Python-Version: current

Package: python-openalea.visualea
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-openalea.core, python-openalea.grapheditor, python-qscintilla2
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: OpenAlea visual programming environment.

