.summary {
	border-style: solid;
	border-width: 2px;
	margin: 10px;
	padding: 10px;
}

.introduction {
	font-family: inherit;	
	font-style: italic;
	font-size: smaller;
	color: rgb(100,100,100);
}


.title {
	font-size:20px;
	color: #459454;
	text-align: center;
}

.subtitle {
	font-size:16px;
	color: #459454;
	text-align: left;
}

.section-title {
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	color: #459454;
	/* text-decoration: underline;*/
}


div#meta-information.section .key {
	font-weight: bold;
}

.section .item-namebase {
	font-weight: bold;
}

.section#meta-information {
}

.section#model {

}

.logo-label {
	font-size: 10px;
	text-align: center;
}

