Source: openalea-numpy
Maintainer: OpenAlea consortium <christophe.pradal@cirad.fr>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3~), python-setuptools, debhelper (>= 7), python-openalea.deploy

Package: python-openalea.numpy
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-numpy, python-openalea.core
Provides: ${python:Provides}
Description: Numpy modules for Visualea

